# Promptbench will not compilles above version 11.4

aiohttp
ollama
python-dotenv
hikari
numpy
scikit-learn
sentence-transformers
uvloop; sys_platform != "win32"
transformers 
torch
accelerate
promptbench
pytextrank
spacy

# python -m spacy download en_core_web_sm